html, body{
    -webkit-text-size-adjust:none;
	color: #444;
    font-family: "RobotoDraft", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header{
	 /* background:#895698;   */
	 height:90px;
	 width:100%;
	 font-weight:bold;
	 
}

.navbar-default .navbar-nav > li > a.active {
    /* color:#00FFCC; */
	color:#ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    /* color: #00FFCC; */
	color:#ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
	font-family: 'Raleway', sans-serif;
}
.navbar-brand{
	font-size:2.5em;
	color:#ffffff!important;
	text-decoration:none;
	height: 100px;
    padding: 35px 0px;
}

.navbar-brand i{
	font-size: 1em;
    color:#EBEBEB;
    left: -7px;
    top: 0px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
.navbar-default{
	background:none !important;
	border:none !important;
}
.navbar-nav {
    float: right;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #999;
    background:none;
}
.navbar-nav > li {
    margin: 1em 0em 0 0;
}
.nav > li > a {
    padding: 25px;
    font-size: 14px;
    position: relative;
}
.navbar {
    margin-bottom: 0;
}

.main{
	width:1200px;
	margin:0px auto;
}

.wrap{
	width:1200px;
	margin:0px auto;
}
.logo{
	margin-top:20px;
}
.label-define {
    background-color: #66ccff;
}
.element-label .label{
	cursor:pointer;
	padding-top: 5px;
    font-size: 20px;
    line-height: 40px;
	display: inline;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}