html, body{
    /*font-size: 100%;*/
    -webkit-text-size-adjust:none;
	font-family: 'Raleway', sans-serif;
	/* background:#000000 !important; */
	min-width:1200px;
}

.main{
	/* width:1230px; */
	margin:0px auto;
}

.wrap{
	background-repeat: no-repeat;  
    background-size: 100% 100%; 
	width:100%;
	height:100%;
}
#canvas {
	position: fixed;top: 0px;left: 0px;z-index: -1;
}
/* 主体样式 */
.elements {
    /*box-shadow: 0px 0px 2px rgba(0,255,255,0.5);*/
    border: 1px solid rgba(127,255,255,0.25); 
    text-align: center;
    cursor: default;
	float:left;
	width:60px;
	height:60px;
	margin-top:5px 5px 0px 0px;
	color: #3399FF;

-webkit-touch-callout: none; /* iOS Safari */

-webkit-user-select: none; /* Chrome/Safari/Opera */

-khtml-user-select: none; /* Konqueror */

-moz-user-select: none; /* Firefox */

-ms-user-select: none; /* Internet Explorer/Edge */

user-select: none; /* Non-prefixed version, currently not supported by any browser */

}


.elements .fontWhite{
	color: #ffffff;
}

.elements .fontYellow{
	color: #ffff33;
}

.elements .fontGreen{
	color: #99ffcc;
}

.elements .fontPink{
	color: #ff3399;
}

.removePadding{
	padding-right:0px;!important
}
.atomic {
    vertical-align: baseline;
    top: 0px;
    right: 6px;
	font-size: 6px;
	position:absolute;
	}
.symbol{
    font-size: 16px;
    font-weight: bold;
    /* color: #3399FF; */
    /* text-shadow: 0 0 2px rgba(0,255,255,0.95); */
    height:36px;
    line-height: 36px;
	margin:0 auto;
}
.element-name{
	font-size: 8px;
	height:11px;
	line-height:11px;
	text-align:center;
	margin:0 auto;
}
.show-span{
	display: none;
}


.logo{
	margin-top:20px;
}

.hid{
	color:#000000 !important;
}
.crystal{
	font-size: 8px;
	height:11px;
	line-height:11px;
	text-align:center;
}
.elements-big{
    width:100%;
    height:100%;
    overflow:hidden;
    background-color: rgba(51,153,255,0.8);
	color:#ffffff;
    /*禁止光标移动到文字上显示I*/
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.elements-big{
	display: flex;
}
/* 放大元素第一列 */
.column-big-1{
	width: 70px;
	padding-top:10px; 
    text-align: left;
	padding-left:3px;
}

.oxidation-column{
	padding-bottom:0px;
	float: left;
	width: 20px;
}

/* .oxidation-column3{ */
	/* width: 10px !important; */
/* } */

.oxidation-big{
	height: 75px;
	/* -webkit-box-orient: vertical;
	-webkit-line-clamp: 3; */
	overflow: hidden;
	line-height:75px;
}
.oxidation-big ul{
	padding-left: 0px;
    margin-bottom: -5px;
}
.oxidation-big li{
	list-style-type:none;
	line-height: 12px;
    padding-top: 0px;
    margin-top: 5px;
    font-size: 12px;
    text-align: right;
}

/* .radius-big, .electron-big, .eleativity-big{ */
	/* padding-left: 5px; */
	/* margin-bottom: 5px; */
/* } */
.radius-big{
	height: 40px;
	font-size: 12px;
	margin-top:10px;
}
.electron-big{
	height: 20px;
	font-size: 12px;
	line-height:20px;
}

/* 放大元素第二列 */
.column-big-2{
	flex:1;
    text-align: center;
	width:90px;
	/* padding-top:10px; */
	/* padding-bottom:10px; */
}
.eleativity-big{
    font-size: 12px;
    line-height: 40px;
	height:40px;
}
.crystal-big{
	font-size: 24px;
	font-family: Microsoft YaHei;
	font-weight: 900;
    height: 60px;
    line-height: 60px;
}

.symbol-big{
	font-size: 60px;
	height: 100px;
    line-height: 100px;
}

.element-name-big{
	height: 40px;
	line-height:40px;
	/* margin-top: 5px; */
}

/* 放大元素第三列 */
.column-big-3{
	width: 50px;
	/* padding-top:5px; */
	/* padding-bottom:5px; */
    text-align: right;
	padding-right:5px;
}

.atomic-big{
    font-size: 12px;
    line-height: 12px;
	padding-top:3px;
}

.melting-big, .boiling-big, .relative-big{
    height: 49px;
    font-size: 12px;
    line-height: 49px;
}
.ionic-big{
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    /* padding-top: 20px; */
	
}

/* .atomic-big, .relative-big, .melting-big, .boiling-big, .ionic-big{ */
    /* /* padding-right: 5px; */ */
	
/* } */

.float-clear{
    clear: both;
}

.clone{
	position: absolute; 
	border:1px solid #666;
	z-index: 999;
} 

