.main{
	width:700px;
	border:1px solid #000000;
	margin:70px auto ;
}

.title{
	width:100%;
	height:40px;
	line-height:40px;
	background:#20B2AA;
	padding-left: 20px;
}

.info{
	margin-top:20px;
}

.editDiv{
	height: auto;
}
.col-sm-8.editDivOut{
	height: 70px;
}
.col-sm-8 .editDiv{
	height: 100%;
}

.addAdimintor{
	width:400px;
	border:1px solid #000000;
	margin:70px auto ;
}

#addFunDiv{
	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 450;
    z-index: 999;
    background-color: #ffffff;
}

