<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ustb.ssjgl.dao.mappings.TTestLinMapper" >
  <resultMap id="BaseResultMap" type="com.ustb.ssjgl.dao.pojo.TTestLin" >
    <id column="c_bh" property="cBh" jdbcType="VARCHAR" />
    <result column="c_name" property="cName" jdbcType="VARCHAR" />
    <result column="c_password" property="cPassword" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    c_bh, c_name, c_password
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_test_lin
    where c_bh = #{cBh,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_test_lin
    where c_bh = #{cBh,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ustb.ssjgl.dao.pojo.TTestLin" >
    insert into t_test_lin (c_bh, c_name, c_password
      )
    values (#{cBh,jdbcType=VARCHAR}, #{cName,jdbcType=VARCHAR}, #{cPassword,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ustb.ssjgl.dao.pojo.TTestLin" >
    insert into t_test_lin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cBh != null" >
        c_bh,
      </if>
      <if test="cName != null" >
        c_name,
      </if>
      <if test="cPassword != null" >
        c_password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cBh != null" >
        #{cBh,jdbcType=VARCHAR},
      </if>
      <if test="cName != null" >
        #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cPassword != null" >
        #{cPassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ustb.ssjgl.dao.pojo.TTestLin" >
    update t_test_lin
    <set >
      <if test="cName != null" >
        c_name = #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cPassword != null" >
        c_password = #{cPassword,jdbcType=VARCHAR},
      </if>
    </set>
    where c_bh = #{cBh,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ustb.ssjgl.dao.pojo.TTestLin" >
    update t_test_lin
    set c_name = #{cName,jdbcType=VARCHAR},
      c_password = #{cPassword,jdbcType=VARCHAR}
    where c_bh = #{cBh,jdbcType=VARCHAR}
  </update>
</mapper>