<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ustb.ssjgl.main.dao.mappings.TCombFunctionMapper" >
  <resultMap id="BaseResultMap" type="com.ustb.ssjgl.main.dao.bean.TCombFunction" >
    <id column="c_id" property="cId" jdbcType="VARCHAR" />
    <result column="c_element_comb_id" property="cElementCombId" jdbcType="VARCHAR" />
    <result column="c_potentials_function_id" property="cPotentialsFunctionId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    c_id, c_element_comb_id, c_potentials_function_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_comb_function
    where c_id = #{cId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_comb_function
    where c_id = #{cId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ustb.ssjgl.main.dao.bean.TCombFunction" >
    insert into t_comb_function (c_id, c_element_comb_id, c_potentials_function_id
      )
    values (#{cId,jdbcType=VARCHAR}, #{cElementCombId,jdbcType=VARCHAR}, #{cPotentialsFunctionId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ustb.ssjgl.main.dao.bean.TCombFunction" >
    insert into t_comb_function
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        c_id,
      </if>
      <if test="cElementCombId != null" >
        c_element_comb_id,
      </if>
      <if test="cPotentialsFunctionId != null" >
        c_potentials_function_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=VARCHAR},
      </if>
      <if test="cElementCombId != null" >
        #{cElementCombId,jdbcType=VARCHAR},
      </if>
      <if test="cPotentialsFunctionId != null" >
        #{cPotentialsFunctionId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ustb.ssjgl.main.dao.bean.TCombFunction" >
    update t_comb_function
    <set >
      <if test="cElementCombId != null" >
        c_element_comb_id = #{cElementCombId,jdbcType=VARCHAR},
      </if>
      <if test="cPotentialsFunctionId != null" >
        c_potentials_function_id = #{cPotentialsFunctionId,jdbcType=VARCHAR},
      </if>
    </set>
    where c_id = #{cId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ustb.ssjgl.main.dao.bean.TCombFunction" >
    update t_comb_function
    set c_element_comb_id = #{cElementCombId,jdbcType=VARCHAR},
      c_potentials_function_id = #{cPotentialsFunctionId,jdbcType=VARCHAR}
    where c_id = #{cId,jdbcType=VARCHAR}
  </update>
  
  <insert id="batchInsert">
    insert into t_comb_function (c_id, c_element_comb_id, c_potentials_function_id)
     values
    <foreach collection ="list" item="combFunctions" separator =",">
      (#{cId,jdbcType=VARCHAR}, #{cElementCombId,jdbcType=VARCHAR}, #{cPotentialsFunctionId,jdbcType=VARCHAR})
    </foreach >
  </insert>
  
  <delete id="deleteByCombId" parameterType="java.lang.String" >
    delete from t_comb_function
    where c_element_comb_id = #{cElementCombId,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByCombIdAndFunId" parameterType="java.util.Map" >
    delete from t_comb_function
    where c_element_comb_id = #{cElementCombId,jdbcType=VARCHAR}
      and c_potentials_function_id = {cPotentialsFunctionId,jdbcType=VARCHAR}
  </delete>
  
  <select id="selectByFunctionId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_comb_function
    where c_potentials_function_id = #{cPotentialsFunctionId,jdbcType=VARCHAR}
  </select>

  <select id="selectByCombId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_comb_function
    where c_element_comb_id = #{cElementCombId,jdbcType=VARCHAR}
  </select>
</mapper>