<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ustb.ssjgl.main.dao.mappings.TDownloadRecordMapper" >
  <resultMap id="BaseResultMap" type="com.ustb.ssjgl.main.dao.bean.TDownloadRecord" >
    <id column="c_id" property="cId" jdbcType="VARCHAR" />
    <result column="c_user_id" property="cUserId" jdbcType="VARCHAR" />
    <result column="c_user_name" property="cUserName" jdbcType="VARCHAR" />
    <result column="c_client_ip" property="cClientIp" jdbcType="VARCHAR" />
    <result column="c_download_file_id" property="cDownloadFileId" jdbcType="VARCHAR" />
    <result column="c_download_file_name" property="cDownloadFileName" jdbcType="VARCHAR" />
    <result column="d_download_date" property="dDownloadDate" jdbcType="DATE" />
    <result column="d_download_time" property="dDownloadTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    c_id, c_user_id, c_user_name, c_client_ip, c_download_file_id, c_download_file_name, 
    d_download_date, d_download_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_download_record
    where c_id = #{cId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_download_record
    where c_id = #{cId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ustb.ssjgl.main.dao.bean.TDownloadRecord" >
    insert into t_download_record (c_id, c_user_id, c_user_name, 
      c_client_ip, c_download_file_id, c_download_file_name, 
      d_download_date, d_download_time)
    values (#{cId,jdbcType=VARCHAR}, #{cUserId,jdbcType=VARCHAR}, #{cUserName,jdbcType=VARCHAR}, 
      #{cClientIp,jdbcType=VARCHAR}, #{cDownloadFileId,jdbcType=VARCHAR}, #{cDownloadFileName,jdbcType=VARCHAR}, 
      #{dDownloadDate,jdbcType=DATE}, #{dDownloadTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ustb.ssjgl.main.dao.bean.TDownloadRecord" >
    insert into t_download_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        c_id,
      </if>
      <if test="cUserId != null" >
        c_user_id,
      </if>
      <if test="cUserName != null" >
        c_user_name,
      </if>
      <if test="cClientIp != null" >
        c_client_ip,
      </if>
      <if test="cDownloadFileId != null" >
        c_download_file_id,
      </if>
      <if test="cDownloadFileName != null" >
        c_download_file_name,
      </if>
      <if test="dDownloadDate != null" >
        d_download_date,
      </if>
      <if test="dDownloadTime != null" >
        d_download_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=VARCHAR},
      </if>
      <if test="cUserId != null" >
        #{cUserId,jdbcType=VARCHAR},
      </if>
      <if test="cUserName != null" >
        #{cUserName,jdbcType=VARCHAR},
      </if>
      <if test="cClientIp != null" >
        #{cClientIp,jdbcType=VARCHAR},
      </if>
      <if test="cDownloadFileId != null" >
        #{cDownloadFileId,jdbcType=VARCHAR},
      </if>
      <if test="cDownloadFileName != null" >
        #{cDownloadFileName,jdbcType=VARCHAR},
      </if>
      <if test="dDownloadDate != null" >
        #{dDownloadDate,jdbcType=DATE},
      </if>
      <if test="dDownloadTime != null" >
        #{dDownloadTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ustb.ssjgl.main.dao.bean.TDownloadRecord" >
    update t_download_record
    <set >
      <if test="cUserId != null" >
        c_user_id = #{cUserId,jdbcType=VARCHAR},
      </if>
      <if test="cUserName != null" >
        c_user_name = #{cUserName,jdbcType=VARCHAR},
      </if>
      <if test="cClientIp != null" >
        c_client_ip = #{cClientIp,jdbcType=VARCHAR},
      </if>
      <if test="cDownloadFileId != null" >
        c_download_file_id = #{cDownloadFileId,jdbcType=VARCHAR},
      </if>
      <if test="cDownloadFileName != null" >
        c_download_file_name = #{cDownloadFileName,jdbcType=VARCHAR},
      </if>
      <if test="dDownloadDate != null" >
        d_download_date = #{dDownloadDate,jdbcType=DATE},
      </if>
      <if test="dDownloadTime != null" >
        d_download_time = #{dDownloadTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where c_id = #{cId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ustb.ssjgl.main.dao.bean.TDownloadRecord" >
    update t_download_record
    set c_user_id = #{cUserId,jdbcType=VARCHAR},
      c_user_name = #{cUserName,jdbcType=VARCHAR},
      c_client_ip = #{cClientIp,jdbcType=VARCHAR},
      c_download_file_id = #{cDownloadFileId,jdbcType=VARCHAR},
      c_download_file_name = #{cDownloadFileName,jdbcType=VARCHAR},
      d_download_date = #{dDownloadDate,jdbcType=DATE},
      d_download_time = #{dDownloadTime,jdbcType=TIMESTAMP}
    where c_id = #{cId,jdbcType=VARCHAR}
  </update>
</mapper>