<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ustb.ssjgl.main.dao.mappings.TFunctionParamMapper" >
  <resultMap id="BaseResultMap" type="com.ustb.ssjgl.main.dao.bean.TFunctionParam" >
    <id column="c_id" property="cId" jdbcType="VARCHAR" />
    <result column="c_function_id" property="cFunctionId" jdbcType="VARCHAR" />
    <result column="c_name" property="cName" jdbcType="VARCHAR" />
    <result column="c_unit" property="cUnit" jdbcType="VARCHAR" />
    <result column="c_description" property="cDescription" jdbcType="VARCHAR" />
    <result column="n_order" property="nOrder" jdbcType="INTEGER" />
    <result column="n_valid" property="nValid" jdbcType="INTEGER" />
    <result column="d_time" property="dTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    c_id, c_function_id, c_name, c_unit, c_description, n_order, n_valid, d_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_function_param
    where c_id = #{cId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_function_param
    where c_id = #{cId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ustb.ssjgl.main.dao.bean.TFunctionParam" >
    insert into t_function_param (c_id, c_function_id, c_name, 
      c_unit, c_description, n_order, 
      n_valid, d_time)
    values (#{cId,jdbcType=VARCHAR}, #{cFunctionId,jdbcType=VARCHAR}, #{cName,jdbcType=VARCHAR}, 
      #{cUnit,jdbcType=VARCHAR}, #{cDescription,jdbcType=VARCHAR}, #{nOrder,jdbcType=INTEGER}, 
      #{nValid,jdbcType=INTEGER}, #{dTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ustb.ssjgl.main.dao.bean.TFunctionParam" >
    insert into t_function_param
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        c_id,
      </if>
      <if test="cFunctionId != null" >
        c_function_id,
      </if>
      <if test="cName != null" >
        c_name,
      </if>
      <if test="cUnit != null" >
        c_unit,
      </if>
      <if test="cDescription != null" >
        c_description,
      </if>
      <if test="nOrder != null" >
        n_order,
      </if>
      <if test="nValid != null" >
        n_valid,
      </if>
      <if test="dTime != null" >
        d_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=VARCHAR},
      </if>
      <if test="cFunctionId != null" >
        #{cFunctionId,jdbcType=VARCHAR},
      </if>
      <if test="cName != null" >
        #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cUnit != null" >
        #{cUnit,jdbcType=VARCHAR},
      </if>
      <if test="cDescription != null" >
        #{cDescription,jdbcType=VARCHAR},
      </if>
      <if test="nOrder != null" >
        #{nOrder,jdbcType=INTEGER},
      </if>
      <if test="nValid != null" >
        #{nValid,jdbcType=INTEGER},
      </if>
      <if test="dTime != null" >
        #{dTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ustb.ssjgl.main.dao.bean.TFunctionParam" >
    update t_function_param
    <set >
      <if test="cFunctionId != null" >
        c_function_id = #{cFunctionId,jdbcType=VARCHAR},
      </if>
      <if test="cName != null" >
        c_name = #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cUnit != null" >
        c_unit = #{cUnit,jdbcType=VARCHAR},
      </if>
      <if test="cDescription != null" >
        c_description = #{cDescription,jdbcType=VARCHAR},
      </if>
      <if test="nOrder != null" >
        n_order = #{nOrder,jdbcType=INTEGER},
      </if>
      <if test="nValid != null" >
        n_valid = #{nValid,jdbcType=INTEGER},
      </if>
      <if test="dTime != null" >
        d_time = #{dTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where c_id = #{cId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ustb.ssjgl.main.dao.bean.TFunctionParam" >
    update t_function_param
    set c_function_id = #{cFunctionId,jdbcType=VARCHAR},
      c_name = #{cName,jdbcType=VARCHAR},
      c_unit = #{cUnit,jdbcType=VARCHAR},
      c_description = #{cDescription,jdbcType=VARCHAR},
      n_order = #{nOrder,jdbcType=INTEGER},
      n_valid = #{nValid,jdbcType=INTEGER},
      d_time = #{dTime,jdbcType=TIMESTAMP}
    where c_id = #{cId,jdbcType=VARCHAR}
  </update>
</mapper>