<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
		
		<bean id="abstractDao" class="com.ustb.ssjgl.common.dao.AbstractDao">
			<property name="sqlSessionTemplate" ref="sqlSession" />
		    <property name="jdbcTemplate" ref="jdbcTemplate" />
		    <property name="transactionTemplate" ref="transactionTemplate"/>
		</bean>
		<bean id="userDao" class="com.ustb.ssjgl.login.dao.impl.UserDaoImpl" parent="abstractDao"></bean>
		<bean id="roleDao" class="com.ustb.ssjgl.login.dao.impl.RoleDaoImpl" parent="abstractDao"></bean>
		<bean id="permissionDao" class="com.ustb.ssjgl.login.dao.impl.PermissionDaoImpl" parent="abstractDao"></bean>
		<bean id="emailRecordDao" class="com.ustb.ssjgl.login.dao.impl.EmaiRecordDaoImpl" parent="abstractDao"></bean>


		<bean id="combFunctionDao" class="com.ustb.ssjgl.main.dao.impl.CombFunctionDaoImpl" parent="abstractDao"></bean>
		<bean id="combParamDao" class="com.ustb.ssjgl.main.dao.impl.CombParamDaoImpl" parent="abstractDao"></bean>
		<bean id="elementCombDao" class="com.ustb.ssjgl.main.dao.impl.ElementCombDaoImpl" parent="abstractDao"></bean>
		<bean id="elementCombDetailDao" class="com.ustb.ssjgl.main.dao.impl.ElementCombDetailDaoImpl" parent="abstractDao"></bean>
		<bean id="elementCombTagDao" class="com.ustb.ssjgl.main.dao.impl.ElementCombTagDaoImpl" parent="abstractDao"></bean>
		<bean id="elementDao" class="com.ustb.ssjgl.main.dao.impl.ElementDaoImpl" parent="abstractDao"></bean>
		<bean id="functionParamDao" class="com.ustb.ssjgl.main.dao.impl.FunctionParamDaoImpl" parent="abstractDao"></bean>
		<bean id="potentialsFileDao" class="com.ustb.ssjgl.main.dao.impl.PotentialsFileDaoImpl" parent="abstractDao"></bean>
		<bean id="potentialsFunctionDao" class="com.ustb.ssjgl.main.dao.impl.PotentialsFunctionDaoImpl" parent="abstractDao"></bean>
		<bean id="potentialsScopeDao" class="com.ustb.ssjgl.main.dao.impl.PotentialsScopeDaoImpl" parent="abstractDao"></bean>
		<bean id="referenceDao" class="com.ustb.ssjgl.main.dao.impl.ReferenceDaoImpl" parent="abstractDao"></bean>
		
		<bean id="downloadRecordDao" class="com.ustb.ssjgl.visitlog.dao.impl.DownloadRecordDaoImpl" parent="abstractDao"></bean>
		<bean id="loginRecordDao" class="com.ustb.ssjgl.visitlog.dao.impl.LoginRecordDaoImpl" parent="abstractDao"></bean>
		<bean id="operateRecordDao" class="com.ustb.ssjgl.visitlog.dao.impl.OperateRecordDaoImpl" parent="abstractDao"></bean>
		<bean id="searchElementDao" class="com.ustb.ssjgl.visitlog.dao.impl.SearchElementDaoImpl" parent="abstractDao"></bean>
		<bean id="searchRecordDao" class="com.ustb.ssjgl.visitlog.dao.impl.SearchRecordDaoImpl" parent="abstractDao"></bean>
		
</beans>
