<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- 配置进行访问日志记录的切面 -->  
	<bean id = "visitLogAop" class="com.ustb.ssjgl.common.log.aop.VisitLogAop"></bean>
	<!-- 配置进行授权和认证的 Realm -->  
	<bean id = "userRealm" class="com.ustb.ssjgl.bean.UserRealm"></bean>

</beans>
