<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
		
		<bean id="abstractDao" class="com.ustb.ssjgl.common.dao.AbstractDao">
			<property name="sqlSessionTemplate" ref="sqlSession" />
		    <property name="jdbcTemplate" ref="jdbcTemplate" />
		    <property name="transactionTemplate" ref="transactionTemplate"/>
		</bean>
		<bean id="testDao" class="com.ustb.ssjgl.dao.impl.TestDao" parent="abstractDao"></bean>
		<bean id="userDao" class="com.ustb.ssjgl.login.dao.impl.UserDaoImpl" parent="abstractDao"></bean>
		<bean id="roleDao" class="com.ustb.ssjgl.login.dao.impl.RoleDaoImpl" parent="abstractDao"></bean>
		<bean id="permissionDao" class="com.ustb.ssjgl.login.dao.impl.PermissionDaoImpl" parent="abstractDao"></bean>
		<bean id="emailRecordDao" class="com.ustb.ssjgl.login.dao.impl.EmaiRecordDaoImpl" parent="abstractDao"></bean>
		
</beans>
