.header{
	 height:90px;
	 width:100%;
	 font-weight:bold;
	 background-size: cover;
	 /* background-image:url(../img/banner5.jpg); */
	 /* background-repeat: repeat-x; */
	 background-color:#f6f6f6;
	 /* background-color:#9966cc; */
}


.navbar-default .navbar-nav > li > a.active {
    /* color:#00FFCC; */
	color:#1569b4;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    /* color: #00FFCC; */
	color:#1569b4;
}
.navbar-default .navbar-nav > li > a {
    color: #1569b4;
	font-family: 'Raleway', sans-serif;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
.navbar-default{
	background:none !important;
	border:none !important;
}
.navbar-nav {
   
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #999;
    background:none;
}
.navbar-nav > li {
    margin: 1em 0em 0 0;
}
.nav > li > a {
    padding: 25px;
    font-size: 20px;
    position: relative;
	padding-right:25px;
	padding-left:25px;
}
.navbar {
    margin-bottom: 0;
}

.logo{
	margin-top:20px;
	float:left;
	width:100px;
}

.text1{
	margin-top:10px;
	float:left;
	text-align:center;
	font-size:24px;
	line-height:30px;
	color:#000;
	font-family: inherit;
	font-weight: normal;
	padding-left:5px;
}
.site-sologn{  
    color: rgb(18, 101, 156);
    font-size: 12px;
	float:left;
	padding-left:5px;
}

.text2{
	float:right;
	text-align:right;
	font-size:10px;
	color:#000;
	font-family: inherit;
}

