html, body{
    /*font-size: 100%;*/
    -webkit-text-size-adjust:none;
	/* background: -webkit-linear-gradient(left,rgba(255,180,0,0),rgba(255,180,0,1)); /* Safari 5.1 - 6 */ */
  /* background: -o-linear-gradient(right,rgba(255,180,0,0),rgba(255,180,0,1)); /* Opera 11.1 - 12*/ */
  /* background: -moz-linear-gradient(right,rgba(255,180,0,0),rgba(255,180,0,1)); /* Firefox 3.6 - 15*/ */
  /* background: linear-gradient(to right, rgba(255,180,0,0),rgba(255,180,0,1)); /* 鏍囧噯鐨勮娉�*/ */
	font-family: 'Raleway', sans-serif;
	background:#000000;
}

.header{
	 /* background:#895698;   */
	 height:90px;
	 width:100%;
	 font-weight:bold;
}

.navbar-default .navbar-nav > li > a.active {
    /* color:#00FFCC; */
	color:#ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    /* color: #00FFCC; */
	color:#ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
	font-family: 'Raleway', sans-serif;
}
.navbar-brand{
	font-size:2.5em;
	color:#ffffff!important;
	text-decoration:none;
	height: 100px;
    padding: 35px 0px;
}

.navbar-brand i{
	font-size: 1em;
    color:#EBEBEB;
    left: -7px;
    top: 0px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
.navbar-default{
	background:none !important;
	border:none !important;
}
.navbar-nav {
    float: right;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #999;
    background:none;
}
.navbar-nav > li {
    margin: 1em 0em 0 0;
}
.nav > li > a {
    padding: 25px;
    font-size: 14px;
    position: relative;
}
.navbar {
    margin-bottom: 0;
}

.main{
	width:1024px;
	margin:0px auto;
	
}

.elements {
    /*box-shadow: 0px 0px 2px rgba(0,255,255,0.5);*/
    border: 1px solid rgba(127,255,255,0.25); 
    text-align: center;
    cursor: default;
	float:left;
	width:55px;
	height:55px;
	margin-top:5px;
	color: #3399FF;
	/* background: -webkit-linear-gradient(left,rgba(139,0,139,0),rgba(130,0,139,1)); /* Safari 5.1 - 6   */ */
    /* background: -o-linear-gradient(right,rgba(139,0,139,0),rgba(130,0,139,1)); /* Opera 11.1 - 12*/    */
    /* background: -moz-linear-gradient(right,rgba(139,0,139,0),rgba(130,0,139,1)); /* Firefox 3.6 - 15*/    */
   /* background: linear-gradient(to right, rgba(139,0,139,0),rgba(130,0,139,1)); /* 鏍囧噯鐨勮娉�*/   	 */
}

.elements .fontWhite{
	color: #ffffff;
}

.elements .fontYellow{
	color: #ffff33;
}

.elements .fontGreen{
	color: #99ffcc;
}

.elements .fontPink{
	color: #ff3399;
}

.atomic {
    font-size: 75%;
    line-height: 0;
    float: right;
    vertical-align: baseline;
    margin-top: 6px;
    margin-right: 2px;
	font-size: 8px;
	}
.symbol{
    font-size: 16px;
    font-weight: bold;
    /* color: #3399FF; */
    /* text-shadow: 0 0 2px rgba(0,255,255,0.95); */
    height:30px;
    line-height: 30px;
}
.element-name{
	font-size: 8px;
	height:10px;
	margin-top: -2px;
}
.show-span{
	display: none;
}

.jianxi{
	padding-right:5px;
	padding-left:0px;
}

.jiange{
	margin-left:5px;
	margin-right:5px;
}

.search{
	margin-top:20px auto;
	width:1200px;
}

.logo{
	margin-top:20px;
}

.hid{
	color:#000000 !important;
}
.crystal{
	font-size: 8px;
	height:10px;
}

.elements-big{
    width:100%;
    height:100%;
    overflow:hidden;
    background-color: red;
    
    /*禁止光标移动到文字上显示I*/
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

.elements-big{
	display: flex;
}
/* 放大元素第一列 */
.column-big-1{
	width: 50px;
	padding-top:10px;
	padding-bottom:10px;
    text-align: left;
}

.oxidation-column1, .oxidation-column2{
	padding-bottom:0px;
	float: left;
}

.oxidation-big{
	height: 60px;
}
.oxidation-big ul{
	padding-left: 5px;
    margin-bottom: -5px;
}
.oxidation-big li{
	list-style-type:none;
	line-height: 8px;
    padding-top: 0px;
    margin-top: 5px;
    font-size: 8px;
}

.radius-big, .electron-big, .eleativity-big{
	padding-left: 5px;
	margin-bottom: 5px;
}
.radius-big{
	height: 20px;
}
.electron-big{
	height: 20px;
	font-size: 10px;	
}

/* 放大元素第二列 */
.column-big-2{
	flex:1;
    text-align: center;
	padding-top:10px;
	padding-bottom:10px;
}
.eleativity-big{
    font-size: 12px;
    line-height: 24px;
}
.crystal-big{
	font-size: 20px;
	font-family: Microsoft YaHei;
	font-weight: 900;
}

.symbol-big{
	font-size: 60px;
}

.element-name-big{
	height: 20px;
}

/* 放大元素第三列 */
.column-big-3{
	width: 50px;
	padding-top:5px;
	padding-bottom:5px;
    text-align: right;
}

.atomic-big{
    font-size: 18px;
    height: 36px;
    line-height: 36px;
}

.melting-big, .boiling-big, .relative-big{
    height: 20px;
    font-size: 12px;
    line-height: 24px;
}
.ionic-big{
    height: 40px;
    font-size: 12px;
    line-height: 24px;
    padding-top: 20px;
	
}

.atomic-big, .relative-big, .melting-big, .boiling-big, .ionic-big{
    padding-right: 5px;
}

.float-clear{
    clear: both;
}
