<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ustb.ssjgl.visitlog.dao.mappings.TLoginRecordMapper" >
  <resultMap id="BaseResultMap" type="com.ustb.ssjgl.visitlog.dao.bean.TLoginRecord" >
    <id column="c_id" property="cId" jdbcType="VARCHAR" />
    <result column="c_user_id" property="cUserId" jdbcType="VARCHAR" />
    <result column="c_user_name" property="cUserName" jdbcType="VARCHAR" />
    <result column="c_client_ip" property="cClientIp" jdbcType="VARCHAR" />
    <result column="d_login_date" property="dLoginDate" jdbcType="DATE" />
    <result column="d_login_time" property="dLoginTime" jdbcType="TIMESTAMP" />
    <result column="d_logout_time" property="dLogoutTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    c_id, c_user_id, c_user_name, c_client_ip, d_login_date, d_login_time, d_logout_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_login_record
    where c_id = #{cId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_login_record
    where c_id = #{cId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ustb.ssjgl.visitlog.dao.bean.TLoginRecord" >
    insert into t_login_record (c_id, c_user_id, c_user_name, 
      c_client_ip, d_login_date, d_login_time, 
      d_logout_time)
    values (#{cId,jdbcType=VARCHAR}, #{cUserId,jdbcType=VARCHAR}, #{cUserName,jdbcType=VARCHAR}, 
      #{cClientIp,jdbcType=VARCHAR}, #{dLoginDate,jdbcType=DATE}, #{dLoginTime,jdbcType=TIMESTAMP}, 
      #{dLogoutTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ustb.ssjgl.visitlog.dao.bean.TLoginRecord" >
    insert into t_login_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        c_id,
      </if>
      <if test="cUserId != null" >
        c_user_id,
      </if>
      <if test="cUserName != null" >
        c_user_name,
      </if>
      <if test="cClientIp != null" >
        c_client_ip,
      </if>
      <if test="dLoginDate != null" >
        d_login_date,
      </if>
      <if test="dLoginTime != null" >
        d_login_time,
      </if>
      <if test="dLogoutTime != null" >
        d_logout_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=VARCHAR},
      </if>
      <if test="cUserId != null" >
        #{cUserId,jdbcType=VARCHAR},
      </if>
      <if test="cUserName != null" >
        #{cUserName,jdbcType=VARCHAR},
      </if>
      <if test="cClientIp != null" >
        #{cClientIp,jdbcType=VARCHAR},
      </if>
      <if test="dLoginDate != null" >
        #{dLoginDate,jdbcType=DATE},
      </if>
      <if test="dLoginTime != null" >
        #{dLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dLogoutTime != null" >
        #{dLogoutTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ustb.ssjgl.visitlog.dao.bean.TLoginRecord" >
    update t_login_record
    <set >
      <if test="cUserId != null" >
        c_user_id = #{cUserId,jdbcType=VARCHAR},
      </if>
      <if test="cUserName != null" >
        c_user_name = #{cUserName,jdbcType=VARCHAR},
      </if>
      <if test="cClientIp != null" >
        c_client_ip = #{cClientIp,jdbcType=VARCHAR},
      </if>
      <if test="dLoginDate != null" >
        d_login_date = #{dLoginDate,jdbcType=DATE},
      </if>
      <if test="dLoginTime != null" >
        d_login_time = #{dLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dLogoutTime != null" >
        d_logout_time = #{dLogoutTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where c_id = #{cId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ustb.ssjgl.visitlog.dao.bean.TLoginRecord" >
    update t_login_record
    set c_user_id = #{cUserId,jdbcType=VARCHAR},
      c_user_name = #{cUserName,jdbcType=VARCHAR},
      c_client_ip = #{cClientIp,jdbcType=VARCHAR},
      d_login_date = #{dLoginDate,jdbcType=DATE},
      d_login_time = #{dLoginTime,jdbcType=TIMESTAMP},
      d_logout_time = #{dLogoutTime,jdbcType=TIMESTAMP}
    where c_id = #{cId,jdbcType=VARCHAR}
  </update>
  
  <insert id="batchInsert" parameterType="java.util.List" >
    insert into t_login_record (c_id, c_user_id, c_user_name, 
      c_client_ip, d_login_date, d_login_time, 
      d_logout_time)
    values 
     <foreach collection ="list" item="item" separator =",">
     (#{item.cId,jdbcType=VARCHAR}, #{item.cUserId,jdbcType=VARCHAR}, #{item.cUserName,jdbcType=VARCHAR}, 
      #{item.cClientIp,jdbcType=VARCHAR}, #{item.dLoginDate,jdbcType=DATE}, #{item.dLoginTime,jdbcType=TIMESTAMP}, 
      #{item.dLogoutTime,jdbcType=TIMESTAMP})
      </foreach>
  </insert>
</mapper>