<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ustb.ssjgl.visitlog.dao.mappings.TSearchElementMapper" >
  <resultMap id="BaseResultMap" type="com.ustb.ssjgl.visitlog.dao.bean.TSearchElement" >
    <id column="c_id" property="cId" jdbcType="VARCHAR" />
    <result column="c_search_id" property="cSearchId" jdbcType="VARCHAR" />
    <result column="c_element_id" property="cElementId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    c_id, c_search_id, c_element_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_search_element
    where c_id = #{cId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_search_element
    where c_id = #{cId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ustb.ssjgl.visitlog.dao.bean.TSearchElement" >
    insert into t_search_element (c_id, c_search_id, c_element_id
      )
    values (#{cId,jdbcType=VARCHAR}, #{cSearchId,jdbcType=VARCHAR}, #{cElementId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ustb.ssjgl.visitlog.dao.bean.TSearchElement" >
    insert into t_search_element
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        c_id,
      </if>
      <if test="cSearchId != null" >
        c_search_id,
      </if>
      <if test="cElementId != null" >
        c_element_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=VARCHAR},
      </if>
      <if test="cSearchId != null" >
        #{cSearchId,jdbcType=VARCHAR},
      </if>
      <if test="cElementId != null" >
        #{cElementId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ustb.ssjgl.visitlog.dao.bean.TSearchElement" >
    update t_search_element
    <set >
      <if test="cSearchId != null" >
        c_search_id = #{cSearchId,jdbcType=VARCHAR},
      </if>
      <if test="cElementId != null" >
        c_element_id = #{cElementId,jdbcType=VARCHAR},
      </if>
    </set>
    where c_id = #{cId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ustb.ssjgl.visitlog.dao.bean.TSearchElement" >
    update t_search_element
    set c_search_id = #{cSearchId,jdbcType=VARCHAR},
      c_element_id = #{cElementId,jdbcType=VARCHAR}
    where c_id = #{cId,jdbcType=VARCHAR}
  </update>
  <insert id="batchInsert" parameterType="java.util.List" >
    insert into t_search_element (c_id, c_search_id, c_element_id)
    values 
    <foreach collection ="list" item="item" separator =",">
    (#{item.cId,jdbcType=VARCHAR}, #{item.cSearchId,jdbcType=VARCHAR}, #{item.cElementId,jdbcType=VARCHAR})
    </foreach>
  </insert>
</mapper>