<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ustb.ssjgl.login.dao.mappings.TPermissionMapper" >
  <resultMap id="BaseResultMap" type="com.ustb.ssjgl.login.dao.bean.TPermission" >
    <id column="c_id" property="cId" jdbcType="VARCHAR" />
    <result column="c_permission" property="cPermission" jdbcType="VARCHAR" />
    <result column="c_permission_name" property="cPermissionName" jdbcType="VARCHAR" />
    <result column="n_valid" property="nValid" jdbcType="INTEGER" />
    <result column="n_order" property="nOrder" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    c_id, c_permission, c_permission_name, n_valid, n_order
  </sql>
  <sql id="As_Column_List" >
    per.c_id, per.c_permission, per.c_permission_name, per._valid, per.n_order
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_permission
    where c_id = #{cId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_permission
    where c_id = #{cId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ustb.ssjgl.login.dao.bean.TPermission" >
    insert into t_permission (c_id, c_permission, c_permission_name, 
      n_valid, n_order)
    values (#{cId,jdbcType=VARCHAR}, #{cPermission,jdbcType=VARCHAR}, #{cPermissionName,jdbcType=VARCHAR}, 
      #{nValid,jdbcType=INTEGER}, #{nOrder,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ustb.ssjgl.login.dao.bean.TPermission" >
    insert into t_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        c_id,
      </if>
      <if test="cPermission != null" >
        c_permission,
      </if>
      <if test="cPermissionName != null" >
        c_permission_name,
      </if>
      <if test="nValid != null" >
        n_valid,
      </if>
      <if test="nOrder != null" >
        n_order,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=VARCHAR},
      </if>
      <if test="cPermission != null" >
        #{cPermission,jdbcType=VARCHAR},
      </if>
      <if test="cPermissionName != null" >
        #{cPermissionName,jdbcType=VARCHAR},
      </if>
      <if test="nValid != null" >
        #{nValid,jdbcType=INTEGER},
      </if>
      <if test="nOrder != null" >
        #{nOrder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ustb.ssjgl.login.dao.bean.TPermission" >
    update t_permission
    <set >
      <if test="cPermission != null" >
        c_permission = #{cPermission,jdbcType=VARCHAR},
      </if>
      <if test="cPermissionName != null" >
        c_permission_name = #{cPermissionName,jdbcType=VARCHAR},
      </if>
      <if test="nValid != null" >
        n_valid = #{nValid,jdbcType=INTEGER},
      </if>
      <if test="nOrder != null" >
        n_order = #{nOrder,jdbcType=INTEGER},
      </if>
    </set>
    where c_id = #{cId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ustb.ssjgl.login.dao.bean.TPermission" >
    update t_permission
    set c_permission = #{cPermission,jdbcType=VARCHAR},
      c_permission_name = #{cPermissionName,jdbcType=VARCHAR},
      n_valid = #{nValid,jdbcType=INTEGER},
      n_order = #{nOrder,jdbcType=INTEGER}
    where c_id = #{cId,jdbcType=VARCHAR}
  </update>
  <select id="selectPermissionsByRoleId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="As_Column_List" />
    from t_permission per
    left join t_role_permission role_per on (per.c_id = role_per.c_permission_id)
    left join t_role role on (role.c_id = role_per.c_role_id)
    where role.c_id = #{roleId,jdbcType=VARCHAR}
      and per.n_valid = 1
      and role.n_valid = 1
  </select>
  <select id="selectAllPermissions" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_permission
    where n_valid = 1
  </select>
</mapper>